<h1>Listing topicos</h1>

<table>
  <tr>
    <th>Titulo</th>
    <th>Descripcion</th>
    <th>Votos</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @topicos.each do |topico| %>
  <tr>
    <td><%= link_to topico.titulo, topico_path(topico.id) %></td>
    <td><%= topico.descripcion %></td>
    <td><%= pluralize topico.votos.size, 'voto' %></td>
    <td><%= link_to '+1', votos_path(:topico_id => topico.id), :method => :post %></td>
    <td><%= link_to 'Show', topico %></td>
    <td><%= link_to 'Edit', edit_topico_path(topico) %></td>
    <td><%= link_to 'Destroy', topico, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Topico', new_topico_path %>
